<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>

<body>

  {% include header.html %}

  {% if page.url == "/" %}
    {% include structural-engine.html %}
  {% endif %}

  <div class="iva-content">
    {{ content }}
  </div>

  {% include footer.html %}

  <script src="{{ site.baseurl }}/assets/js/site.js"></script>

  {% if page.url == "/" %}
    <script src="{{ site.baseurl }}/assets/js/homepage.js"></script>
  {% endif %}

</body>
</html>
